body {
    background-image: url(../background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: lightblue;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
}
.container {
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
}
.login-form {
    padding: 50px;
    color: black;
    font-weight: bolder;
    
}
.login-form input {
  margin: 10px;
  height: auto;
}
.Gender {
    margin-top: 20px;
    font-weight: bold;
}
.login-form button {
    width: 90px;
}
.boxed {
   border: 3px solid lightblue;
   background-image: url(../background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 30px;
    
}
.boxed .label {
    text-align: center;
    font-weight: bolder;
    background-color: pink;
}
.display p {
    font-weight: bold;
    margin-top: 20px;

}