body {
    background-color: turquoise;
}
h1 {
    color: black;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
}
form {
    color: black;
    font-weight: bolder;
    padding-top: 20px;
    
}