body {
    background-image: url(../background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
}